[Desktop Entry]
Name=Héstia Console
Comment=Console local da Héstia
Exec=hestia-console
Icon=hestia-console
Terminal=false
Type=Application
Categories=Utility;System;
StartupNotify=true
